body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
table,
th,
td,
embed,
object {
  padding: 0;
  margin: 0;
  border: 0;
}

.covid-alert {
  display: inline-block;
  background-color: #841a06;
  min-height: 150px;
  padding: 20px;
}

.alert-icon {
  max-width: 10%;
  padding-left: 30px;
}

.alert-close {
  max-width: 10%;
}

a {
  color: white;
}

.hero {
  width: 100%;
}
